
body {
  overflow-x: hidden;
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: url(world1.jpg);
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -7s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}


.photo {
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  margin-left: 20px;
  background: linear-gradient(180deg,  rgb(20 47 88 / 0%) 0%, #fff 100%);
}

nav {
  position: fixed;
}

.web {
  margin-right: auto;
  color: rgb(85, 84, 84);
}

.open,
.close {
  display: inline-block;
  padding: 30px 0 0 30px;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(104, 101, 101);
  text-decoration: none;
  transition: 0.5s;
  margin-bottom: 25px;
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}
.close:hover {
  color: rgb(22, 21, 21);
}

.overlay {
  position: fixed;
  width: 0;
  top: 0;
  background-color: #333;
  opacity: 0.7;
  overflow-x: hidden;
  height: 100%;
  transition: 0.5s;
}

.overlay-content {
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 50px;
  margin-top: 30px;
}

.overlay-content a {
  font-size: 2rem;
  color: #fff;
  display: block;
  padding: 10px;
  margin-bottom: 4px;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}

.overlay-content a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.3s;
  display: block;
}
.overlay-content a:hover {
  color: #ff9f1a;
}

.overlay-content a:hover:after {
  width: 25%;
}

.container {
  display: flex;
}


.main-content {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    height: 100vh;
    
    background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
    color: #fff;
    text-align: center;
}

.vignette{
  position:absolute;
  width:100%; height:100%;
  box-shadow:inset 0px 0px 150px 20px black;
  mix-blend-mode: multiply;
  -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
  -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
  -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
  animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
}

.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .15;
}

/* .line{
  position:absolute;
  height:100%; width:1px;
  opacity:0.1;
  background-color:#000;
} */

.titleCont{position:relative;
}
.main-title {
    padding: .3em 1em .25em;    
    font-weight: 400;
    font-size: 40px;
    color: white;
    font-family: 'Bellefair', serif;
    position:relative;
    line-height:1.3;
}
.overTitle{
    position:absolute;
    top:0;
    left:0;
}
.dot{
  width:3px;
  height:2px;
  background-color:white;
  position:absolute;
  opacity:0.3;
}


@-webkit-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-moz-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-o-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}